<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreCompat.Portable.Licensing" version="1.2.4" targetFramework="net472" />
  <package id="IndexRange" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.ML.OnnxRuntime" version="1.10.0" targetFramework="net472" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.10.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="Nito.Comparers.Core" version="6.0.0" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.5.0.20201013" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.5.0.20201013" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="1.0.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.DirectoryServices" version="4.7.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Yolov5Net" version="1.0.9" targetFramework="net472" />
</packages>